.title{
    color: #ec3591;
    text-align:center;
 }
 
 .input{
   text-align:center;
 }

 button{
     background-color:#ec3591;
     border: none;
     color:white;
     padding: 5px 20px;
 }

 .container{
     margin: 0 auto;
     display:flex;
     flex-direction: column;
     justify-content: center;
 }

 #translated{
    color: #9c396b;
    text-align:center;
    margin:auto;
    height:auto;
    width:500px;
 }

 img{
     height:200px;
     width:600px;
     margin:auto;
 }
 