*{
    box-sizing:border-box;
  } 
  
  body{
    text-align:center;
    font-family:georgia;
    font-size:20px;
  }


  .square{
    font-size:50px;
    color:rgb(209, 112, 169);
    width:100px;
    height:100px;
    border:2px solid black;
    cursor: pointer;
  }
  

  .buttonDec{
    clear:both;
  }

  #container {
    display:grid;
    height:300px;
    width:300px;
    margin:auto;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns:100px 100px 100px;
  }